/* universe style */
*{
    box-sizing: border-box;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;                                                
    -webkit-text-size-adjust: 100%;
    background-repeat: no-repeat;
   
}     

/* background properties */
.background{
           background-image: linear-gradient(to top,rgb(0 0 0 / 97%) 0,rgba(0,0,0,0) 60%,rgb(0 0 0 / 98%) 100%), url(../assets/bg-image2.jpg); 
           width: 100%;
           height: 706px;
           mix-blend-mode: multiply;
           background-color: rgba(0,0,0,.4);
           background-repeat: no-repeat;
           background-size: cover;
        }
        
        .nfLogo {
            fill: #e50914;
            line-height: normal;
        }
       
        .dropdown{
            position: relative;
        }
        .sel{
            position: absolute;
             width:15px ;
            height:15px ;
             top:5px;
            right: 80px;
            color: white;

        }
            
        select{
            border-radius: 3px;
            background-color: transparent;
            color:white;
            padding-left: 25px;
                           
        }
        /* drop */
        .drop{
           background-color: gray;       
        }
        .sign{
            background-color: #e50914;
            border: 0px;
            border-radius: 3px;
            color: white;
            
        }

       .ready{
               color: white;
               margin: auto;
       }

        
        .h1{ 
            font-weight: bolder;
            margin:auto;
            font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
            color: white;
        }
        .h2{
            margin:auto;
            font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
            color: white;
        }

       .thick{
        border-bottom: 8px solid #222;
       }
       .part2{
           width: 100%;
           background-color: black;
           background-size: cover;
       }
       
        
       .card-video1{
           width: 325px;
           top: 20px;
           left: 100px;
       }


       .bad{
        padding:20px;
        font-size: 26px;
        color: white;
        height: 75px;
        width: 815px;
        margin: auto;
        background-color: #222;

     }
     .bad1{
         height: auto;
         width: 815px;
         font-size: 26px;
         color: white;
         margin: auto; 
          background-color: #222;
     }
     .ball{
         padding: 10px;
         background-color: #222;
     }
     .dot{
        background-color: #222;
     }


     .bit{
       width:40px ;
       height: 40px;
       color: white;
       bottom: 20px;
       top: 40px;
       left: 700px;
       background-color: #222;
   }
.bit-closed{
  transform: translateY(-50%) rotate(-45deg);
}


 .foot{
    
     height: auto;
     background-color:black;
     color:gray;
     font-size: 15px;
     line-height:35px;
     
 }
 

.sel1{
    
    color: white;
}


         


       
         
         @media (min-width:250px) and (max-width: 360px) {
            .sel{
                right: 65px;
            } 

         }
          /* media query for mobile phones */
        @media (min-width: 250px) and (max-width: 550px) {
           
            .background{
                height: 550px;
            }
            .hello{
                width: 500px;
                height: 48px;
                background-color:white;
                border: 0px;
                margin: auto;
            }
            .hi{     position: absolute; 
                top: 65px;
                left: 50px;
                right: 50px;         
                width: 110px;
                margin: auto;
                height: 40px;
                background-color:red;
                border: 0px;
                color: white;
                font-size: 12px;
            }
            .te{
            position: relative;
            }
            
            select{
                width: 102px;
                height: 26px;
            }
           
            .sign{
                height: 26px;
                width: 80px;
                font-size: 14px;
            }
            .logo1{
                    height: 24px;
                    width: 88px;
                }
            .h1{
               
                width: 432px;
                font-size: 28px;
            }
            .h2{
                width: 432px;
                font-size: 18px;
            }
            .ready{
                width: 432px;
                font-size: 18px;
            }
            
       .tv-text{
           width: 350px;
        height: auto;
        margin: auto;
        background-color:black;
       
    }
    .tv-image{
        width: 300px;
        height: 300px;
        padding-left: 0px;
        margin: auto;
        background-color: black;
    } 
             .card-title{
                  font-size: 26px;
                  margin: auto;
                  text-align: center;
             }
             .card-subtitle{
                   font-size: 18px;
                   margin: auto;
                   text-align: center;
                   padding: 0px;
             } 
             .card-img{
                width: 300px;
            }  
                   
                 .card-video{
                   
                     width: 225px;
                     height: 150px;
                     top: 35px;
                     left: 40px;
                    
                 }
                 .box{
                    top: 150px;
                    background-color: black;
                    left:10px;
                    width: 260px;
                    height: 70px;
                    border-radius: 7px;
                    border:1px solid;
                    display: inline-block;
                    
                } 
                .box-img{
                    height: 70px;
                    padding: 10px;
                     display: inline-block;
                }
                .box-text{
                    position: absolute;
                    top: 15px;
                    color: white;
                    font-size: 14px;
                }
                .box-text2{
                    position: absolute;
                    top:35px;
                    color:#4683dc;
                    font-size: 12px;
                }
                .box-icon{
                    width:48px;
                    height: auto;
                    top: 10px;
                    left: 200px;
                }
                .card-video1{
                    width: 200px;
                    top: 10px;
                    left: 50px;
                }

                .bad{
                    padding:20px;
                    font-size: 18px;
                    color: white;
                    height:52px;
                    width: 300px;
                    margin: auto;
                    background-color: #222;
            
                 }
                
                 .dot{
                    background-color: #222;
                 }
            
            
                 .bit{
                   width:20px ;
                   height: 20px;
                   color: white;
                   bottom: 20px;
                   top: 20px;
                   left: 270px;
                   background-color: #222;
               }
            .bit-closed{
              transform: translateY(-50%) rotate(-45deg);
            }
            .sel1{
                position: relative;
                right: 140px;
            }
            .select{
                position: relative;
                right: 40px;
            
            }
            .bottom{
                position: relative;
                right: 30px;
            } 
           
            
                }

                
       
           
        
            /* media query for tablets and ipads */
        @media (min-width: 551px) and (max-width: 991px) {
            .hello{
                width: 500px;
                height: 48px;
                background-color: white;
                border: 0px;
                margin: auto;
            }
            .hi{     position: absolute; 
                top: 75px;
                left: 50px;
                right: 50px;         
                width: 159px;
                margin: auto;
                height: 40px;
                font-size: 16px;
                background-color:red;
                border: 0px;
                color: white;
            }
            .te{
                position: relative;
            }
            select{
                width: 102px;
                height: 26px;
            }
            .sign{
                height: 26px;
                width: 80px;
            }
            .logo1{
                    height: 32px;
                    width: 108px;
                }
                .h1{
                width: 540px;
                font-size: 50px;
            }
            .h2{
                width: 450px;
                font-size: 26px;
            }
            .ready{
                width: 540px;
                font-size: 26px;
            }
            
       .tv-text{
        width: 100%;
        height: auto;
        margin: auto;
        background-color:black;
    }
    .tv-image{
        width: 530px;
        height: 450px;
        margin: auto;
        background-color:black;
    } 
    .card-title{
        font-size: 40px; 
        margin: auto;
        text-align: center;
   }
   .card-subtitle{
         font-size: 20px;
         margin: auto;
       text-align: center;
   } 
   .card-img{
    width: 500px;
    margin: auto;
}

.card-video{
       
    width: 363px;
    top:75px;
    left: 80px;
    margin: auto;
   
}
.box{
    top: 250px;
    background-color: black;
    left: 100px;
    width: 336px;
    height: 96px;
    border-radius: 7px;
    border-color: #e50914;
    border:1px solid;
    display: inline-block;
} 
.box-img{
    height: 96px;
    padding: 10px;
     display: inline-block;
}
.box-text{
    position: absolute;
    top: 25px;
    color: white;
}
.box-text2{
    position: absolute;
    top:50px;
    color:#4683dc;
}
.box-icon{
    width:48px;
    height: auto;
    top: 30px;
    left: 250px;
}
.card-video1{
    width: 325px;
    top: 20px;
    left: 100px;
}  

.bad{
    padding:20px;
    font-size: 20px;
    color: white;
    height: 57px;
    width: 500px;
    margin: auto;
    background-color: #222;

 }

 .dot{
    background-color: #222;
 }


 .bit{
   width:30px ;
   height: 30px;
   color: white;
   bottom: 20px;
   top: 30px;
   left: 420px;
   background-color: #222;
}
.bit-closed{
transform: translateY(-50%) rotate(-45deg);
}
.sel1{
    position: relative;
    right: 100px;
}
.bottom{
    position: relative;
    left: 10px;
} 

}

    
        



          /*media query for laptops and large screen  */
        @media (min-width: 992px) and (max-width: 1400px) {
               .hello{
                width: 500px;
                height: 60px;
                border: 0px;
                background-color: white;
                  }
                .hi{
                
                width: 200px;
                height: 60px;
                background-color: red;
                border: 0px;
                color: white;
                font-size: 26px;
                }
                .te{
                    position: relative;
                }
                select{
                    width:102px ;
                    height:36px ;
                }
                .sel{
                    top: 10px;
                }
                .sign{
                    height: 36px;
                    width: 80px;
                }
                .logo1{
                    height: 36px;
                    width: 134px;
                    padding-left: 20px;
                }
                .h1{
                width: 640px;
                font-size: 50px;
            }
            .h2{
                width: 640px;
                font-size: 26px;
            }
            .ready{
                width: 714px;
                font-size: 19px;
            }
            
       .tv-text{
        width: 500px;
        height: auto;
        margin: auto;
        background-color:black;
        padding: 70px 45px;
        
    }
    .tv-image{
        width:500px;
        height: 400px;
        margin: auto;
        background-color: black;
    } 
    .card-title{
        font-size: 40px;
        margin: auto;
   }
   .card-subtitle{
         font-size: 23px;
          margin: auto;
   } 
   .card-img{
    width: 500px;

}
.card-video{
       
    width: 363px;
    top:75px;
    left: 80px;
   
}
.box{
    top: 250px;
    background-color: black;
    left: 100px;
    width: 336px;
    height: 96px;
    border-radius: 7px;
    border-color: #e50914;
    border:1px solid;
    display: inline-block;
} 
.box-img{
    height: 96px;
    padding: 10px;
     display: inline-block;
}
.box-text{
    position: absolute;
    top: 25px;
    color: white;
}
.box-text2{
    position: absolute;
    top:50px;
    color:#4683dc;
}
.box-icon{
    width:48px;
    height: auto;
    top: 30px;
    left: 250px;
} 
.card-video1{
    width: 325px;
    top: 20px;
    left: 100px;
}  
.ques{
    position: relative;
    right: 50px;
     
    }
    .foot{
        position: relative;
    } 
    .sel1{
        position: relative;
        right: 100px;
    }
    .bottom{
        position: relative;
        left: 10px;
    } 
}
    
 
            

        /* media query large screen */
        @media (min-width:1401px) and (max-width:2500px) {
               .hello{
                width: 550px;
                height: 70px;
                border: 0px;
                background-color: white;
                  }
                .hi{
                
                width: 250px;
                height: 70px;
                background-color: red;
                border: 0px;
                color: white;
                font-size: 26px;
                }
                .te{
                    position: relative;
                }
                select{
                    width:102px ;
                    height:36px ;
                }
                .sel{
                    top: 10px;
                }
                .sign{
                    height: 36px;
                    width: 80px;
                }
                .logo1{
                    height: 36px;
                    width: 200px;
                    padding-left: 20px;
                }
                .h1{
                width: 700px;
                font-size: 60px;
            }
            .h2{
                width: 640px;
                font-size: 26px;
            }
            .ready{
                width: 714px;
                font-size: 19px;
            }
            
       .tv-text{
        width: 600px;
        height: auto;
        margin: auto;
        background-color:black;
        padding: 70px 45px;
    }
    .tv-image{
        width: 700px;
        height: 400px;
        padding-bottom: 50px;
        margin: auto;
        background-color: black;
    } 
    .card-title{
        font-size: 50px;
        margin: auto;
   }
   .card-subtitle{
         font-size: 26px;
         margin: auto; 

   } 
   .card-img{
    width: 500px;
} 
.card-video{
       
    width: 363px;
    top:75px;
    left: 80px;
   
}
.box{
    top: 250px;
    background-color: black;
    left: 100px;
    width: 336px;
    height: 96px;
    border-radius: 7px;
    border-color: #e50914;
    border:1px solid;
    display: inline-block;
} 
.box-img{
    height: 96px;
    padding: 10px;
     display: inline-block;
}
.box-text{
    position: absolute;
    top: 25px;
    color: white;
}
.box-text2{
    position: absolute;
    top:50px;
    color:#4683dc;
}
.box-icon{
    width:48px;
    height: auto;
    top: 30px;
    left: 250px;
}
.card-video1{
    width: 325px;
    top: 20px;
    left: 100px;
}
.ques{
 position: relative;
 right: 60px;
  
 }
 .foot{
     position: relative;
 }
 .sel1{
     position: relative;
     right: 100px;
 }
 
 .bottom{
    position: relative;
    left: 10px;
} 

}


.questions{
    padding-bottom: 100px;
}

   
    